:root {
    --cor-titulo-primaria: #F8F9FA;
    --cor-titulo-secundaria: #EDF2FF;
    --cor-paragrafo-primaria: #ADB5BD;
    --cor-paragrafo-secundaria: #CED4DA;
    --cor-enfase: #364FC7;
    --background-color-header: #191C1F;
    --background-color-secundaria: #212529;
    --background-color-button: #4C6EF5;
    --background-color-button-modal: #343A40;
    --font-title1: clamp(1.625rem, 0.472rem + 4.341vw, 3.25rem);
    --font-title2: clamp(1.25rem, 0.363rem + 3.339vw, 2.5rem);
    --font-title3: clamp(1rem, 0.29rem + 2.671vw, 2rem);
    --font-text1: clamp(0.625rem, 0.182rem + 1.669vw, 1.25rem);
    --font-text2: clamp(0.55rem, 0.142rem + 1.536vw, 1.125rem);;
    --font-text3: clamp(0.5rem, 0.145rem + 1.336vw, 1rem);    
}



