:root {
    --cor-titulo-primaria: #F8F9FA;
    --cor-titulo-secundaria: #EDF2FF;
    --cor-paragrafo-primaria: #ADB5BD;
    --cor-paragrafo-secundaria: #CED4DA;
    --cor-enfase: #364FC7;
    --background-color-header: #191C1F;
    --background-color-secundaria: #212529;
    --background-color-button: #4C6EF5;
    --background-color-button-modal: #343A40;
    --font-title1: clamp(2.5rem, 1.964rem + 1.429vw, 3.25rem);
    --font-title2: clamp(2rem, 1.643rem + 0.952vw, 2.5rem);
    --font-title3: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
    --font-text1: clamp(0.9rem, 0.65rem + 0.667vw, 1.25rem);
    --font-text2: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
    --font-text3: clamp(0.8rem, 0.657rem + 0.381vw, 1rem);;    
}



