body {   
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
    position: relative;
                 
}

/*Conteudo do header*/
.header__elements {       
    background-color: var(--background-color-header);    
    padding: 20px 236px;
    height: 100px;
    border-bottom: 2px solid var(--background-color-button);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1980px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;      
}

.header__elements img {
    width: 200px;
    height: 20.8px;
}

.header__elements button {    
    color: var(--cor-titulo-primaria);
    background-color: var(--background-color-header);
    border: 1px solid var(--cor-titulo-primaria);
    padding: 20px 32px;
    width: 266px;
    height: 60px; 
    font-size: var( --font-text3);
}

/*Conteúdo sessão 1*/
.first__section__elements {  
    background-color: var(--background-color-secundaria);    
    padding: 250px 236px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 44px;
    max-width: 1920px;        
}

.first__section__elements h1 {
    font-size: var( --font-title1);
    color: var( --cor-titulo-secundaria);
}

h1 > span {
    color: var(--cor-enfase);
}

.first__section__elements p {
    color: var(--cor-paragrafo-primaria);
    width: 770px;
    font-size: var(--font-text1);
    text-align: center;
    line-height: 30px;
}
.first__section__elements button {
    background-color: var( --background-color-button);
    color: var(--cor-titulo-primaria);
    font-size: var(--font-text3);
    padding: 20px 32px 20px 32px;
    border: 1px solid var(--background-color-button);
}

/*Conteudo sessão 2*/
.second__section__elements {    
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 82px 236px;
    max-width: 1920px;    
}

.second__section__elements h2 {
    font-size: var( --font-title2);
    color: var(--cor-titulo-secundaria);
    width: 620px;
}

.second__section__elements p {
    width: 580px;
    font-size: var(--font-text1);
    color: var(--cor-paragrafo-secundaria);
    text-align: justify;
    line-height: 30px;
}

/*Conteudo sessão 3*/
.third__section {
    background-color: var(--background-color-secundaria);
    display: flex;
    justify-content: space-between;
    padding: 82px 236px;    
    gap: 56px;
    max-width: 1920px;      
}

.third__section__lado__esquerdo__elements {
    display: flex;
    flex-direction: column;
    gap: 33px;
    position: sticky;
    top: 200px;           
}

.third__section__lado__esquerdo__elements h2 {
    font-size: var(--font-title2);
    color: var(--cor-titulo-secundaria);    
}

.third__section__lado__esquerdo__elements p {
    text-align: justify;
    font-size: var(--font-text1);
    line-height: 30px;
    color: var( --cor-paragrafo-primaria); 
    width: 533px;   
    height: 90px;
}

.third__section__lado__esquerdo__elements button {
    background-color: var(--background-color-button);
    color: var(--cor-titulo-primaria);
    font-size: var(--font-text3);
    padding: 20px 32px;
    border: 1px solid transparent;
    width: 266px;   
}

.third__section__lado__direito {
    display: flex;
    flex-direction: column;
    gap: 60px;
    text-align: center;
    width: 583px;
}

.third__section__lado__direito__item {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.third__section__lado__direito__item h3 {
    font-size: var(--font-title3);
    color: var(--cor-titulo-secundaria);
} 

.third__section__lado__direito__item p {
    font-size: var(--font-text1);
    color: var(--cor-paragrafo-primaria);
    text-align: justify;
    line-height: 30px;   
}

/*Sessão de comentários*/
.comments__section {
    background-color: var(--background-color-secundaria);
    display: flex;
    flex-direction: row-reverse;
    padding: 82px 236px;
    gap: 56px;    
    justify-content: space-between;
    max-width: 1920px;
}


.comments__section__lado__direito__elements {
    background-color: var(--background-color-button);
    padding: 80px 52px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 400px;
    position: sticky;
    top: 200px;

}

.comments__section__lado__direito__elements h2 {
    font-size: var(--font-title2);
    color: var(--cor-titulo-primaria);
    line-height: 64px;
    width: 350px;
}

.comments__section__lado__direito__elements p {
    font-size: var(--font-text1);
    color: var(--cor-titulo-primaria);
    text-align: justify;
    line-height: 30px;
}

.comments__section__lado__esquerdo {
    display: flex;
    flex-direction: column;
    gap: 82px;
    width: 620px;   
}

.comments__section__lado__esquerdo__item {
    display: flex;
    gap: 16px;
    height: 179px;
}

.comment__name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 192px;     
}

.comment__name h3 {    
    font-size: var(--font-title3);
    color: var(--cor-titulo-secundaria);
    width: 192px;
}

.comment__name p {
    color: var(--cor-paragrafo-primaria);
    font-size: var(--font-text3);
}

.comments__section__lado__esquerdo__item > p {
    font-size: var(--font-text2);
    color: var(--cor-paragrafo-secundaria);
    text-align: justify;
    line-height: 27px;
    width: 412px;
}

.footer {    
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
    padding: 50px 775px;
    max-width: 1920px;
}








    












    

    



