
body {   
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;
    position: relative;                    
}

/*Conteudo do header*/

header {
    position: fixed;    
    z-index: 1;
    width: 100%;  
}

.header__elements {
    max-width: 78.5rem;       
    background-color: var(--background-color-header);    
    padding: clamp(0.6rem, 0.139rem + 1.736vw, 1.25rem) clamp(7rem, 1.501rem + 20.701vw, 14.75rem);
    height: 6.25rem;
    border-bottom: 0.125rem solid var(--background-color-button);
    display: flex;
    justify-content: space-between;
    align-items: center;            
}

.header__elements img {    
    height: 1.3rem;
}

.header__elements button {    
    color: var(--cor-titulo-primaria);
    background-color: var(--background-color-header);
    border: 0.063rem solid var(--cor-titulo-primaria);
    padding: 1.25rem 2rem;    
    height: 3.75rem; 
    font-size: var( --font-text3);
}

/*Conteúdo sessão 1*/
.first__section__elements {
    max-width: 78.5rem;  
    background-color: var(--background-color-secundaria);    
    padding: clamp(10rem, 1.574rem + 31.72vw, 21.875rem) clamp(7rem, 1.501rem + 20.701vw, 14.75rem) clamp(7rem, 0.88rem + 23.038vw, 15.625rem) clamp(7rem, 1.501rem + 20.701vw, 14.75rem);
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 2.75rem;            
}

.first__section__elements h1 {
    font-size: var( --font-title1);
    color: var( --cor-titulo-secundaria);
    
}

h1 > span {
    color: var(--cor-enfase);
}

.first__section__elements p {
    color: var(--cor-paragrafo-primaria);    
    font-size: var(--font-text1);
    text-align: center;
    line-height: 1.875rem;
}
.first__section__elements button {
    background-color: var( --background-color-button);
    color: var(--cor-titulo-primaria);
    font-size: var(--font-text3);
    padding: 1.25rem 2rem 1.25rem 2rem;
    border: 0.063rem solid var(--background-color-button);    
}

/*Conteudo sessão 2*/
.second__section__elements {
    max-width: 78.5rem;    
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(2rem, -0.217rem + 8.347vw, 5.125rem) clamp(7rem, 1.501rem + 20.701vw, 14.75rem);  
    flex-wrap: wrap; 
}

.second__section__elements h2 {
    font-size: var( --font-title2);
    color: var(--cor-titulo-secundaria);    
}

.second__section__elements p {
    width: 36.25rem;
    font-size: var(--font-text1);
    color: var(--cor-paragrafo-secundaria);
    text-align: justify;
    line-height: 1.875rem;    
}

/*Conteudo sessão 3*/
.third__section {
    max-width: 78.5rem;
    background-color: var(--background-color-secundaria);
    display: flex;    
    padding: clamp(2rem, -0.217rem + 8.347vw, 5.125rem) clamp(7rem, 1.501rem + 20.701vw, 14.75rem);    
    gap: clamp(1rem, -0.774rem + 6.678vw, 3.5rem);
    flex-wrap: wrap;
    position: relative;     
}

.third__section__lado__esquerdo__elements {    
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, -0.609rem + 4.175vw, 2.063rem);
    position: sticky;
    top: 12.5rem;
    padding-right: clamp(2rem, -0.439rem + 9.183vw, 5.438rem);              
}

.third__section__lado__esquerdo__elements h2 {
    font-size: var(--font-title2);
    color: var(--cor-titulo-secundaria);       
}

.third__section__lado__esquerdo__elements p {
    text-align: justify;
    font-size: var(--font-text1);
    line-height: 1.875rem;
    color: var( --cor-paragrafo-primaria);       
    height: 5.625rem;
}

.third__section__lado__esquerdo__elements button {
    background-color: var(--background-color-button);
    color: var(--cor-titulo-primaria);
    font-size: var(--font-text3);
    padding: 1.25rem 2rem;
    border: 0.063rem solid transparent;
    width: 16.625rem;   
}

.third__section__lado__direito {
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, -0.951rem + 7.346vw, 3.75rem);
    text-align: center;
    
}

.third__section__lado__direito__item {
    display: flex;
    flex-direction: column;
    gap:clamp(1rem, -0.951rem + 7.346vw, 3.75rem);
}

.third__section__lado__direito__item h3 {
    font-size: var(--font-title3);
    color: var(--cor-titulo-secundaria);    
} 

.third__section__lado__direito__item p {
    font-size: var(--font-text1);
    color: var(--cor-paragrafo-primaria);
    text-align: justify;
    line-height: 1.875rem;
    width: 36.438rem;   
}

/*Sessão de comentários*/
.comments__section {
    max-width: 78.5rem;
    background-color: var(--background-color-secundaria);
    display: flex;
    flex-direction: row-reverse;
    padding: 5.125rem 14.75rem;
    gap: 3.5rem;    
    justify-content: space-between;    
}


.comments__section__lado__direito__elements {
    background-color: var(--background-color-button);
    padding: 5rem 3.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.188rem;
    width: 25rem;
    position: sticky;
    top: 12.5rem;

}

.comments__section__lado__direito__elements h2 {
    font-size: var(--font-title2);
    color: var(--cor-titulo-primaria);
    line-height: 4rem;
    width: 21.875rem;
}

.comments__section__lado__direito__elements p {
    font-size: var(--font-text1);
    color: var(--cor-titulo-primaria);
    text-align: justify;
    line-height: 1.875rem;
}

.comments__section__lado__esquerdo {
    display: flex;
    flex-direction: column;
    gap: 5.125rem;
    width: 61.25rem;   
}

.comments__section__lado__esquerdo__item {
    display: flex;
    gap: 1rem;
    height: 11.188rem;
}

.comment__name {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 12rem;     
}

.comment__name h3 {    
    font-size: var(--font-title3);
    color: var(--cor-titulo-secundaria);
    width: 12rem;
}

.comment__name p {
    color: var(--cor-paragrafo-primaria);
    font-size: var(--font-text3);
}

.comments__section__lado__esquerdo__item > p {
    font-size: var(--font-text2);
    color: var(--cor-paragrafo-secundaria);
    text-align: justify;
    line-height: 1.688rem;
    width: 25.75rem;
}

.footer {  
    width: 100%;
    background-color: var(--background-color-header);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.375rem;      
}

/*Modal*/
dialog {
    padding: 2.5rem 20.5rem;
    background-color: var(--background-color-secundaria);    
    
    border: solid 0.125rem var(--background-color-button);  
}

.modal__container {
    display: flex;
    flex-direction: column;
    gap: 30.063rem;    
}

.modal__top {
    display: flex;
    justify-content: space-between;
}

.modal__top h1 {
    color: var(--cor-titulo-primaria);
    font-size: var(--font-title3);
}

.modal__top button {
    background-color: var(--background-color-button-modal);
    color: var(--cor-paragrafo-primaria);
    width: 30.5rem;
    height: 2rem;
    border: transparent;
    border-radius: 0.25rem;     
}

.modal__container p {
    width: 440.5rem;
    height: 70.125rem;
    text-align: justify;
    line-height: 1.5rem;
    color: var(--cor-paragrafo-primaria);
    font-size: var(--font-text3);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30.063rem;
}

.form input {
    background-color: var(--background-color-header);
    color: var(--cor-paragrafo-primaria);
    width: 440.5rem;
    height: 50.5rem;
    padding: 0.875rem 1.25rem;
    border: transparent;
    font-size: var(--font-text1);
}

.form button {
    background-color: var(--background-color-button);
    color: var(--cor-titulo-primaria);
    width: 100%;
    height: 3.75rem;
    padding: 0rem 2rem;
    border: 0.063rem solid transparent;
    font-size: var(--font-text3);
}

dialog::backdrop {
    background-color: #191C1FCC;
}
  














    












    

    



